WORKOS_CLIENT_ID=
WORKOS_API_KEY=
WORKOS_COOKIE_PASSWORD=
NEXT_PUBLIC_WORKOS_REDIRECT_URI=https://roadmap.kernel.ai/auth/callback
LINEAR_API_KEY=
NEXT_PUBLIC_APP_URL=https://roadmap.kernel.ai
LINEAR_PROJECT_ID=e3ea029b9e03
